html {
  font-family: "Droid Serif", serif;
}

header {
  color: white;
  background-color: #70ad55;
}

fieldset {
  border: none;
}

span {
  color: #70ad55;
}

select,
input {
  border-color: #6e8c62;
}

hr {
  border-color: #70ad55;
}

fieldset {
  border-bottom: 2px solid #70ad55;
}
