html {
  font-family: "Droid Serif", serif;
}

header {
  color: #fff;
  background-color: #70ad55;
}

fieldset {
  border: none;
}

span {
  color: #70ad55;
}

select,
input {
  border-color: #6e8c62;
}

hr {
  border-color: #70ad55;
  opacity: .4;
}

.personal {
  margin-bottom: 0;
}

.address {
  padding-bottom: 0;
}

footer {
  background-color: #70ad55;
  color: #fff;
  margin: 0;
}

button {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before,
input,
textarea,
select {
  border-color: #6e8c62;
}

@media only screen and (min-width: 35em) {

  .space-grid, div:nth-child(odd) {
    padding-right: 1.5em;

  }

}
