html {
  font-family: "Droid Serif", serif;
}

header {
  color: white;
  background-color: #70ad55;
}

fieldset {
  border: none;
}

span {
  color: #70ad55;
}

select,
input {
  border-color: #6e8c62;
}

hr {
  border-color: #70ad55;
  opacity: 0.4;
}

.personal {
  margin-bottom: 0;
}

.address {
  padding-bottom: 0;
}
